.col.image {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

form {
  padding: 1rem;
}

.col-sm-10 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.form-group {
  padding-left: 0.5rem !important;
}

.img-fluid.details {
  border-radius: 0.2rem;
}

.details-container {
  padding-top: 4rem;
}

form i {
  position: relative;
  padding-left: 0.3rem;
  font-size: 20px;
  color: rgb(255, 0, 0);
}

form i.fa {
  color: darkred;
}
