.card-background {
  padding: 4.5rem 0rem !important;
}

.jumbotron-fluid {
  background-color: #ffffff00 !important;
  padding-top: 7rem !important;
}

.background-promotional {
  height: 400px;
  padding-top: 400px;
  background-color: #b83e3e;
  display: flex;
  text-align: center;
}
